template(name="alert_example")
  h1 Alerts
  +alert(type="info" message="This is an info alert")
  +alert(type="warning" message="This is a warning alert")
  +alert(type="danger" message="This is a danger alert")
  +alert(type="success" message="This is a success alert")
  h2 Alerts with icons
  +alert_i(type="info" message="This is an info alert" icon="info-sign")
  +alert_i(type="warning" message="This is a warning alert" icon="exclamation-sign")
  +alert_i(type="danger" message="This is a danger alert" icon="remove-sign")
  +alert_i(type="success" message="This is a success alert" icon="ok")
  h2 Dismissible Alerts
  +alert_x(type="info" message="This is an info alert")
  +alert_x(type="warning" message="This is a warning alert")
  +alert_x(type="danger" message="This is a danger alert")
  +alert_x(type="success" message="This is a success alert")
  h2 Disimissible Alerts with icons
  +alert_ix(type="info" message="This is an info alert" icon="info-sign")
  +alert_ix(type="warning" message="This is a warning alert" icon="exclamation-sign")
  +alert_ix(type="danger" message="This is a danger alert" icon="remove-sign")
  +alert_ix(type="success" message="This is a success alert" icon="ok")
