template(name="dropdown_example")
  h1 Dropdowns
  +dropdown(caption="My dropdown")
    +dropdown_link(url="#" title="Apple")
    +dropdown_link(url="#" title="Oranges")
    +dropdown_link(url="#" title="Banana")
    +dropdown_separator
    +dropdown_link(url="#" title="Another Apple")
  h2 Dropups
  +dropup(caption="My dropup")
    +dropdown_link(url="#" title="Apple")
    +dropdown_link(url="#" title="Oranges")
    +dropdown_link(url="#" title="Banana")
    +dropdown_separator
    +dropdown_link(url="#" title="Another Apple")
