template(name="forms_example")
  h1 Forms
  +input(id="txtName" label="Name" type="text" placeholder="Enter your name")
  +input(id="txtPassword" label="Password" type="password" placeholder="Enter your password")
  +input(id="txtEmail" label="Email" type="email" placeholder="Enter your email")
  +input(id="txtUrl" label="Url" type="url" placeholder="http://")
  h3 Simple Input
  +input_simple(id="txtEmail" label="Email" type="email" placeholder="Enter your email")
  h3 Checkbox
  +checkbox(text="Email")
  +checkbox(text="SMS")
  h3 Checkbox-Inline
  +checkbox_inline(text="Email")
  +checkbox_inline(text="SMS")
  h3 Radio
  +radio(text="Yes" name="radOptions")
  +radio(text="No" name="radOptions")
  h3 Radio-Inline
  +radio_inline(text="Yes" name="rad2")
  +radio_inline(text="No" name="rad2")
  +submit(text="Register")
  h3 Input groups
  +input_group
    span.input-group-addon @
    +input_simple(id="txtEmail" label="Email" type="email" placeholder="Enter your email")
  +input_group
    +input_simple(id="txtEmail" label="Email" type="email" placeholder="Enter your email")
    span.input-group-addon @example.com
  h3 Badges
  +badge(text="42")
