template(name="icon_example")
  h1 Glyphicons
  +icon(name="search")
  +icon_info(name="search")
  +icon_warning(name="search")
  +icon_primary(name="search")
  +icon_danger(name="search")
  +icon_success(name="search")
