template(name="images_example")
  h1 Images
  +img_responsive(_src="img_thumbnail.jpg")
  +img_responsive_center(_src="img_thumbnail.jpg")
  +img_rounded(_src="img_rounded.jpg")
  +img_circle(_src="img_circle.jpg" _alt="Circle image")
  +img_thumbnail(_src="img_thumbnail.jpg" _alt="Thumbnail image")
