template(name="labels_example")
  h1 Labels
  +label(type="default" text="Default Label")
  +label_default(text="Default Label")
  +label_primary(text="Primary Label")
  +label_info(text="Info Label")
  +label_warning(text="Warning Label")
  +label_success(text="Success Label")
  +label_danger(text="Danger Label")
