template(name="modal_example")
  h1 Modal Dialog
  button(type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal") Launch demo modal
  +modal(id="myModal" title="My Sample Modal")
    | This is modal content
