//- list-group mixins
template(name="list_group")
  ul.list-group
    +Template.contentBlock

template(name="list_group_links")
  .list-group
    +Template.contentBlock


template(name="list_group_link")
  a.list-group-item(href="#{url}" class="#{active}")
    +Template.contentBlock

template(name="list_group_item")
  li.list-group-item
    +Template.contentBlock

template(name="list_group_custom")
  .list-group
    +Template.contentBlock

template(name="list_group_btn")
  button.list-group-item(type="button")
    +Template.contentBlock
