template(name="sidebar")
  ul.nav.nav-pills.nav-stacked
    li
      a(href="/icons")  Icons
    li
      a(href='/alerts') Alerts
    li
      a(href='/tabs') Tabs
    li
      a(href='/accordion') Accordion
    li.divider(role='separator')
    li
      a(href='/carousel') Carousel
    li.divider(role='separator')
    li
      a(href='/dropdown') Dropdowns
    li
      a(href="/forms") Forms
    li: a(href="/images") Images
    li: a(href="/labels") Labels
    li: a(href="/listgroups") List Groups
    li: a(href="/modal") Modal
